body{
	background-color: white;
	
}

.container-full{
	width: 100%;
	max-width: 100%;
	clear: both;
	margin: 0 auto;
}

.photo{
	color: white;
	text-align: center;
	font-family: 'Satisfy', cursive;
}

.photo h1{
	font-size: 1.5em;
}

.profile-section{
	background-color: #10537e;
	padding: 0;
	

}

#photo-profile{
	border-radius: 100%;
	max-width: 50%;
	box-sizing: border-box;
	width: 40%;
	height: auto;
	margin-top: 2em;
}


.tabs ul {
	background-color: #10537e;
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;	
	z-index: 1;
	box-shadow: 0px 8px 5px -4px rgba(0,0,0,0.17);
}
.tabs ul li{
	display: inline-block;
	flex-grow: 4;
	text-align: center;
	color: white;
	margin: 0;
	height: 3em;
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.tabs ul .active{
	border-bottom: 3px solid white;
}

.fixed {
  position: fixed;
  top:0;
  left: 0;
  width: 100%; 
}

.content-data{
	padding-top: .5em;
}

.entry{
	padding: 1.3em;
	border-top: solid 1px lightgray;
	font-size: 1.2em;

}

.center {
	text-align: center;
}




/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
	#photo-profile{
		width: 10%;
	}

	.tabs {
		width: 100%;
		background-color: #10537e;
	}

	.tabs ul {
		width: 40%;
		margin: 0 auto;
	}

	.tabs ul li:hover{
		background-color: #073350;
		border-bottom: 3px solid #073350;

	}
	.fixed {
  		position: relative;

  		width: 100%; 
	}
	.entry{

		padding: 1.3em;
		border-top: solid 1px lightgray;

	}



}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

